<!doctype HTML>
<html>
  <head><title>Favorite Database</title></head>
  <body>
     <form action="/favorite_db" method="POST">
        <p>What is your favorite db?</p>
        {% for db in dbs %}
          <p>
            <input type="radio" name="db" value="{{db}}"/>{{db}}
          </p>
        {% endfor %}
        <input type="submit" value="Submit"/>
     </form>
  </body>
</html>